@{
    ViewData["Title"] = "Home Page";
}

<div class = "text-center">
    @ViewBag.Partido.Nombre
</div>

<div class="row"> 
    <img class="foto" src="@ViewBag.Partido.Logo">
    
    <div class="col-md-4 col-12">
        <h3 class="info"><u>Sitio Web</u>: @ViewBag.Partido.SitioWeb</h3>
        <h3 class="info"><u>Fecha de fundación</u>: @ViewBag.Partido.FechaFundacion</h3>
        <h3 class="info"><u>Cantidad de diputados</u>: @ViewBag.Partido.CantidadDiputados</h3> 
        <h3 class="info"><u>Cantidad de senadores</u>: @ViewBag.Partido.CantidadSenadores</h3> 
    </div>
</div>

    <div class="row">
        @foreach (Candidato can in ViewBag.listaCandidatos)
        {
            <div class="col-md-4 col-12">
                <div class = "card">
                    <img src = "@can.Foto">
                    <div class = "container">
                        <h4><b>@can.Nombre</b></h4> 
                        <br>
                        <a href='@Url.Action("VerDetalleCandidato", new {idCandidato=can.IdCandidato})'>Ver Más</a>
                    </div>
                </div>
            </div>
        }
    </div>

    <br>
    <a href='@Url.Action("AgregarCandidato", new {idPartido=ViewBag.Partido.IdPartido})'>Agregar candidato</a>